@model FutManager.Models.ViewModels.HomeViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="main">
    <div class="columnFlex borderLine">
        <h1 class="sqParagraph">Squad Manager</h1>
        <p class="drop">Add Squad</p>
        <div class="addSquad displayNone">
            <input placeholder="Name"/>
            <input placeholder="Balance" type="number" min="0"/>
            <button>Add</button>
        </div>
        <p class="drop">Manage Squad</p>
        <div class="manageSquad displayNone">
            <button>&lt</button>
            <div class="showList">
                @foreach (var squad in Model.Squads)
                {
                    <div>
                        <p>@squad.Name</p>
                        <p>@squad.Balance</p>
                        <button>Change</button>
                        <button>Delete</button>
                    </div>
                }
            </div>
            <button>&gt</button>
        </div>
        <p class="drop">Add Player</p>
        <div class="addPlayer displayNone">
            <input placeholder="First name" />
            <input placeholder="Last name" />
            <input placeholder="Rating" type="number" min="0" />
            <input placeholder="Age" type="number" min="16" />
            <input placeholder="Nationality" />
            <input placeholder="Squad" />
            <input placeholder="Position" />
            <button>Add</button>
        </div>
        <p class="drop">Manage Player</p>
        <div class="managePlayer displayNone">
            <button>&lt</button>
            <div class="showList">
                @foreach(var player in Model.Players)
                {
                    <div>
                        <p>@player.FirstName</p>
                        <p>@player.OverallRating</p>
                        <p>@player.Nationality</p>
                        <p>@player.Position</p>
                        <button>Change</button>
                        <button>Delete</button>
                    </div>
                }
            </div>
            <button>&gt</button>
        </div>
    </div>
    <div class="matchmaking columnFlex borderLine">
        <h1>Matchmaking</h1>
        <p class="drop">Start Practice Simulation</p>
        <div class="startFriendlyMatch displayNone ">
            <button onclick="startPractice()">Start Practice</button>
        </div>    
        
        <div>
            <p class="drop">Schedule Friendly</p>
            <div class="startFriendlyMatch displayNone">
                <input type="datetime-local" id="meeting-time"
                       name="match-time"
                       min="2023-01-01T00:00" max="2024-01-01T00:00">
                <button onclick="scheduleFriendly()">Schedule Friendly</button>
            </div>    
        </div>
    </div>
    <div class="matches borderLine">
        <h1>Currently Live Matches</h1>
        @{
            foreach (var liveMatch in Model.LiveMatches)
            {
                <a href="@Url.Action("Index", "LiveMatch", new { channel = liveMatch.Channel })">@liveMatch.Channel</a>
            }
        }
    </div>
</div>
<script src="scripts/home.js"></script>